.container {
   text-align: center;
}

.message {
   font-size: 24px;
   color: #098bf6;
}
.message span {
   display: block;
   margin-bottom: 16px;
}

.correctAnswer {
   color: #000;
}

.btnContainer {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
}

.learnMoreBtn {
   background-color: #04ad05;
   border: 1px solid #04ad05;
   display: flex;
   align-items: center;
}

.playAgainBtn {
   background-color: #e80960;
   border: 1px solid #e80960;
}

.playAgainBtn,
.learnMoreBtn {
   color: #fff;
   border-radius: 0;
   font-size: 18px;
   margin: 24px;
   padding: 8px 16px;
   min-height: 100px;
   width: 200px;
}

.playAgainBtn:hover,
.keyboardBtn:hover {
   color: #e80960;
   background-color: #fff;
}

.learnMoreBtn:hover {
   color: #04ad05;
   background-color: #fff;
}

@media (max-width: 800px) {
   /* .gameLost,
   .gameWon {
      justify-content: center;
   } */
}
