html,
body {
   padding: 0;
   height: 100%;
   margin: 0;
   font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
      Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
   color: inherit;
   text-decoration: none;
}

a:hover {
   color: #04ad05;
}

* {
   box-sizing: border-box;
}

h1 {
   font-size: 48px;
   font-weight: 400;
   text-align: center;
   margin: 48px 0 48px;
}
