.countryHidden {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}

.countryHiddenLetter {
   color: #04ad05;
   margin: 7px;
   font-size: 32px;
}

.features {
   display: flex;
   justify-content: center;
   padding: 32px 32px;
}

.lives {
   color: #04ad05;
   font-size: 40px;
   padding: 24px;
}

.gameLost,
.gameWon {
   display: flex;
   justify-content: flex-end;
   align-items: center;
   color: #098bf6;
}
.gameWon {
   font-size: 40px;
}

.gameLost {
   font-size: 18px;
}
.gameLost p {
   margin: 0;
}

.correctAnswer {
   color: #000;
}

.playAgainBtn {
   color: #fff;
   background-color: #e80960;
   border: 1px solid #e80960;
   border-radius: 0;
   font-size: 18px;
   margin: 24px;
   padding: 8px 16px;
}
.playAgainBtn:hover,
.keyboardBtn:hover {
   color: #e80960;
   background-color: #fff;
}

.keyboardContainer {
   display: flex;
   justify-content: center;
}

.keyboard {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   max-width: 600px;
   width: 100%;
}

.keyboardBtn {
   color: #fff;
   background-color: #e80960;
   border: 1px solid #e80960;
   border-radius: 0;
   font-size: 18px;
   font-weight: 500;
   margin: 4px;
   padding: 8px 16px;
}

@media (max-width: 800px) {
   .countryHidden {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      font-size: 18px;
   }
   .countryHiddenLetter {
      color: #04ad05;
      margin: 4px;
   }
   .features {
      flex-direction: column;
   }
   .lives {
      text-align: center;
   }

   .gameLost,
   .gameWon {
      justify-content: center;
   }
}
