.countryHidden {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}

.countryHiddenLetter {
   color: #04ad05;
   margin: 7px;
   font-size: 32px;
}

.features {
   display: flex;
   justify-content: center;
   padding: 32px 32px;
}

.lives {
   color: #04ad05;
   font-size: 40px;
   padding: 24px;
}

@media (max-width: 800px) {
   .countryHidden {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      font-size: 18px;
   }
   .countryHiddenLetter {
      color: #04ad05;
      margin: 4px;
   }
   .features {
      flex-direction: column;
   }
   .lives {
      text-align: center;
   }
}
