.container {
   display: grid;
   grid-template-areas:
      'm m m c c c c c c c c c'
      'm m m c c c c c c c c c'
      'm m m f f f f f f f f f';
   grid-template-columns: repeat(12, 1fr);
   grid-template-rows: auto auto 50px;
   overflow: auto;
   height: 100%;
}

.sidebar {
   grid-area: m;
}

.content {
   grid-area: c;
   padding: 0 32px 32px 32px;
}
.footer {
   grid-area: f;
}

@media (max-width: 800px) {
   .container {
      display: grid;
      grid-template-areas:
         'm m m m m m m m m m m m'
         'c c c c c c c c c c c c'
         'f f f f f f f f f f f f';
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: min-content auto 50px;
      height: 100vh;
   }
}
