.menu {
   width: 100%;
   font-size: 18px;
}

.menuLink {
   font-weight: 500;
   list-style: none;
   margin-bottom: 8px;
}

.subMenu {
   color: #ccc;
}

.subMenu:last-child {
   margin: 16px 0 16px;
}

.subMenuTitle {
   cursor: pointer;
}

@media (max-width: 800px) {
   .menu {
      display: flex;
      justify-content: space-evenly;
   }

   .menuLink {
      margin: 8px;
   }
}
