.main {
   background-color: #000;
   color: #fff;
   display: flex;
   align-items: center;
   flex-direction: column;
   padding: 32px;
   min-height: 100vh;
   height: 100%;
}

.logo {
   width: 70%;
   margin: 40px 80px;
}

.menu {
   width: 100%;
   font-size: 18px;
}

.menuLink {
   font-weight: 500;
   list-style: none;
   margin-bottom: 8px;
}

.subMenu {
   color: #ccc;
}

.subMenu:last-child {
   margin: 16px 0 16px;
}

.subMenuTitle {
   cursor: pointer;
}

@media (max-width: 800px) {
   .logo {
      margin: 0;
      width: 100px;
   }
   .main {
      align-items: flex-start;
      flex-direction: row;
      min-height: auto;
      height: auto;
   }
   .menu {
      display: flex;
      justify-content: space-evenly;
   }

   .menuLink {
      margin: 8px;
   }
}
